.browse-music-display {
  display: flex;

  .main-browse-content {
    width: 803px;
    background: #fffffb;
  }

  .sidebar-browse-content {
    width: 409px;
    border: 1px solid black;
    background: #fffffb;
  }
}

.loading {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;

  .spinner {
    position: absolute;
    top: 50%;
    left: 50%;
  }
}

@media (max-width: 1280px) {
  .browse-music-display {
    flex-direction: column;
  }
  .browse-music-display .sidebar-browse-content {
    width: 803px;
  }
  .App {
    display: flex;
    justify-content: center;
  }
}
